
aside {
    display: block
}

#sidebar {
    width: 45px;
    position: fixed;
    z-index: 900;    
    left: 0;
    bottom: 0;
    color: #f8f8f8;  
    top: 41px;  
}
#sidebar a {
    cursor: pointer
}

#sidebar div.side-menu {
    width: 45px;
    background: #888;
    position: absolute;
    top: 0;
    bottom: 0;    
    float: left;
}

#sidebar div.side-menu .menu-body {
    width: 45px;   
}
#sidebar div.side-menu .menu-body ul.menu-items {
    list-style-type: none;
    padding: 0;
    margin-top: 5px;
}
#sidebar div.side-menu .menu-body ul.menu-items > li {
    height: 44px;
}
#sidebar div.side-menu .menu-body ul.menu-items li > a {
    color: #eee;
    border-radius: 0;
    padding: 18px 14px 11px 13px;
}
#sidebar div.side-menu .menu-body ul.menu-items li a > i {
    font-size: 18px;
}

#sidebar div.side-menu .menu-body ul.menu-items li a:active,
#sidebar div.side-menu .menu-body ul.menu-items li a:focus,
#sidebar div.side-menu .menu-body ul.menu-items li a:hover {
    background: #666;
    color: #fff;
}
#sidebar div.side-menu .menu-body ul.menu-items li .router-link-active {
    background: #484848;
}
#sidebar div.side-menu .menu-body ul.menu-items li ul.menu-subitems {
    display: none;
    list-style: none;
    position: relative;
    top: -38px;
    left: 45px;
    background: #666;
    color: #f8f8f8;
    padding-left: 0;
    width: 190px;
    min-height: 40px;
    margin-top: 2px;
}
#sidebar div.side-menu .menu-body ul.menu-items li ul.menu-subitems li {
    min-height: 24px;
    color: #888
}
#sidebar div.side-menu .menu-body ul.menu-items li ul.menu-subitems li a {
    color: #f8f8f8;
    display: block;
    padding: 12px;
    height: auto;
    font-size: 14px
}
#sidebar div.side-menu .menu-body ul.menu-items li ul.menu-subitems li a:active,
#sidebar div.side-menu .menu-body ul.menu-items li ul.menu-subitems li a:focus,
#sidebar div.side-menu .menu-body ul.menu-items li ul.menu-subitems li a:hover {
    color: #fff;
    background: #555;
    text-decoration: none;
    padding-bottom: 12px;
}
#sidebar div.side-menu .menu-body ul.menu-items li ul.menu-subitems li.menu-header {
    text-transform: uppercase;
    min-height: 45px;
    padding-top: 12px;
    padding-left: 12px;
    border-bottom: 1px solid #555;
    font-size: 12px;
    font-weight: 700;
    line-height: 21px;
    color: #eee
}
#sidebar div.side-menu .menu-body ul.menu-items li ul.menu-subitems li.menu-header a {
    color: #f8f8f8
}
#sidebar div.side-menu .menu-body ul.menu-items li:hover ul.menu-subitems {
    display: block;
}